.user-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: calc(66vh / 5);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s, border 0.1s;
}

.user-card:hover {
  background-color: #a59797;
}

.user-card:active {
  border: 2px solid #000;
}

.user-card__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  flex-shrink: 0;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-card__info__name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.user-card__info__username {
  font-size: 0.9rem;
  color: #666;
}
